<h1> <%= @pirate.name %> </h1>
<%= @pirate.weight %>
<%= @pirate.height %>

<h2> <% @ships.each do |ship|%> </h2>
  <p> <%= ship.name %></p>
  <p> <%= ship.type %></p>
  <p> <%= ship.booty %></p>
<% end %>

